{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/css.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/js.js' %}"></script>
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>
    {% block extrahead %}{% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
{% block script %}
{% endblock %}

<body>
    <header class="container-fluid">
        <nav>
            <!-- 홈탑메뉴바 -->
            <a href="{% url 'main' %}" class="menu_left logo">CLOSET</a>
            <ul>
                <li class="menu_left"><a href="{% url 'main' %}">상의</a></li>
                <li class="menu_left"><a href="{% url 'list' 1 %}">바지</a></li>
                <li class="menu_left"><a href="{% url 'list' 7 %}">가방</a></li>
                <li class="menu_left"><a href="{% url 'list' 10 %}">악세서리</a></li>
                <li class="menu_left"><a href="{% url 'list' 0 %}">신발</a></li>
                <li class="menu_right"><a href="{% url 'mypage' %}">마이페이지</a></li>
                <li class="menu_right"><a href="{% url 'cart' %}">장바구니</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrap" class="container">
        <a>
            <div id="chatbot">
                <i class="far fa-comment-dots"></i>
            </div>
        </a>
        <div id="chatbot_chat">
            <div class="chat_header">
                <!-- <i id="chevron_left" class="material-icons chevron_left">chevron_left</i> -->
                <i id="close" class="material-icons close">close</i>
                <hr>
            </div>
            <div id="chatbox"
                style="height:84%;margin-top:57px;padding:10px;overflow-y:scroll;overflow-x:hidden;max-height:80vh;">
                <div class="chatbot_logo logo">CLOSET</div>
                <div class="chat_intro">
                    <h2>클로젯에 문의하기</h2>
                    <span style="color: rgba(0, 0, 0, 0.4);">'취향에 맞는 옷'을 추천해드립니다.</span><br>
                    <span style="font-size: 15px;"><i class="fas fa-bolt"
                            style="font-size: 10px; color: rgb(0, 94, 255); margin-bottom: 20px;"></i> 보통 몇 분 내 빠른
                        답변</span>
                </div>
                <!-- <div id="divClock" class="clock"></div> -->
                <div>
                    <div class="bottext_div">
                        <span style="font-weight: bold;">고객님 안녕하세요?</span><br>
                        나의 취향으로 쇼핑을 참 쉽게,<br>
                        클로젯 챗봇입니다. 🤖<br><br>
                        원하시는 문의를 말씀해주세요!
                    </div>
                </div>
            </div>
            <div class="chabot_footer">
                <hr>
                <table width="100%">
                    <tr>
                        <td width="90%">
                            <input id="chattext">
                        </td>
                        <td width="10%">
                            <button id="sendbtn"><i class="material-icons send">send</i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% block contents %}
        {% endblock %}
    </div>
    <footer>
    </footer>
</body>

<script>
    $(function () {
        $(document).on("click", ".info_submit", function () {
            send_info();
        });
    });

    function send_info() {
        size_info = $("input[name=size]:checked").val()
        color_info = $("input[name=color]:checked").val()

        if(size_info){
            size_info = size_info.trim()
        }else{
            size_info = ''
        };
        if(color_info){
            color_info = color_info.trim()
        }else{
            color_info = ''
        }
        count_info = $(".p_cnt_input").val().trim()
        const jsonData_info = {
            query: '3개',
            info: {
                'size': size_info,
                'color': color_info,
                'product_count': count_info
            }
        }

        $.ajax({
            url: 'http://127.0.0.10:5000/query/TEST',
            type: "POST",
            data: JSON.stringify(jsonData_info),
            dataType: "JSON", // 응답받을 데이터 타입
            contentType: "application/json; charset=utf-8",

            success: function (response) {
                alert(response.Answer);
            }

        });

    };
</script>

</html>