{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/css.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/js.js' %}"></script>
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>
    {% block extrahead %}{% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
{% block script %}
{% endblock %}
<body>
    <header class="container-fluid">
        <nav> <!-- 홈탑메뉴바 -->
            <a href="{% url 'main' %}" class="menu_left logo">LOGO</a>
            <ul>
                <li class="menu_left"><a href="{% url 'main' %}">상의</a></li>
                <li class="menu_left"><a href="{% url 'list' 1 %}">바지</a></li>
                <li class="menu_left"><a href="{% url 'list' 7 %}">가방</a></li>
                <li class="menu_left"><a href="{% url 'list' 10 %}">악세서리</a></li>
                <li class="menu_left"><a href="{% url 'list' 0 %}">신발</a></li>
                <li class="menu_right"><a href="{% url 'mypage' %}">마이페이지</a></li>
                <li class="menu_right"><a href="{% url 'cart' %}">장바구니</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrap" class="container">
        <a>
            <div id="chatbot">
                <i class="far fa-comment-dots"></i>
            </div>
        </a>
        <div id="chatbot_chat">
            <div class="chat_header">
                <!-- <i id="chevron_left" class="material-icons chevron_left">chevron_left</i> -->
                <i id="close" class="material-icons close">close</i>
                <hr>
            </div>
            <div id="chatbox"
             style="height:84%;margin-top:57px;padding:10px;overflow-y:scroll;overflow-x:hidden;max-height:80vh;">
            </div>
            <div class="chabot_footer">
                <hr>
                <table width="100%">
                    <tr>
                        <td width="90%">
                            <input id="chattext">
                        </td>
                        <td width="10%">
                            <button id="sendbtn"><i class="material-icons send">send</i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% block contents %}
        {% endblock %}
    </div>
    <footer>
    </footer>
</body>
</html>
