{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/css.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>
    {% block extrahead %}{% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
{% block script %}
{% endblock %}
<body>
    <header class="container-fluid">
        <nav> <!-- 홈탑메뉴바 -->
            <a href="{% url 'main' %}" class="menu_left logo">LOGO</a>
            <ul>
                <li class="menu_left"><a href="#">의류</a></li>
                <li class="menu_left"><a href="#">가방</a></li>
                <li class="menu_left"><a href="#">악세서리</a></li>
                <li class="menu_left"><a href="#">신발</a></li>
                <li class="menu_right"><a href="{% url 'mypage' %}">마이페이지</a></li>
                <li class="menu_right"><a href="{% url 'cart' %}">장바구니</a></li>
            </ul>
        </nav>
    </header>
    <div id="wrap" class="container">
        {% block contents %}
        {% endblock %}
    </div>
    <footer>
    </footer>
</body>
</html>
