{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<script src="{% static 'bs/js/cart.js' %}"></script>
{% endblock %}

{% block contents %}
<h1>장바구니</h1>
<div class="d-flex justify-content-between cart_top">
  <label><input type="checkbox" id="all_agree"> 전체선택</label>
  <button class="sm-bt-white all_del">삭제</button>
</div>
<table class="table">
    <thead>
      <tr>
        <th style="width: 60%;">주문상품</th>
        <th style="width: 10%;">주문금액</th>
        <th style="width: 10%;">상품금액</th>
        <th style="width: 10%;">배송비</th>
        <th style="width: 10%;">주문관리</th>
      </tr>
    </thead>
    <tbody>
      {% for i in "x"|rjust:"3" %}
      <tr>
        <td>
          <div class="order_prod d-flex">
            <input type="checkbox" class="choice"/>
            <div>
              <div style="width: 104px; height: 104px; background-color: #D9D9D9; margin: 0; margin-right: 20px;"></div>
              <!-- +, - button -->
              <p>상품명<br>
                <span class="option">옵션</span>
              </p> 
              <!-- <div class="plus-minus-btn d-flex">
                <input type='button' onclick='count("minus")' value='-'/>
                <div id='result'>0</div>
                <input type='button' onclick='count("plus")' value='+'/>
              </div> -->
              <!-- +, - button -->
            </div>
          </div>
        </td>
        <td>26,500원</td>
        <td>24,000원</td>
        <td>2,500원</td>
        <td>
          <button class="sm-bt-black">주문</button>
          <button class="sm-bt-white">삭제</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <div class="cart_bts d-flex flex-column">
      <p class="fs-20">총 주문금액 : 26,500원</p>
      <button class="lg-bt-black">총 1개 상품 주문하기</button>
      <button class="lg-bt-white">쇼핑 계속하기</button>
    </div>
  </div>
{% endblock%}