{% extends "base.html" %}
{% load static %}

{% block contents %}
<h1>{{ category.category_name }}</h1>
<div class="d-flex flex-wrap">
    {% for product in products %}
    <div style="width: 240px;">
        <a href="{% url 'product' product.product_name %}">
            <div class="product">
                <!-- 이미지로 변경 필요 -->
                <div class="prod_image">
                    <img src='/media/{{product.product_image}}' class="images">
                </div>
                <div>
                    <p class="prod_name fs-16">{{ product.product_name }}</p>
                    <h2 class="prod_price fs-18">{{ product.product_price }}원</h2>
                    <!-- <h2 class="prod_price fs-18"><span class="prod_sale">10% </span>{{ product.product_price }}</h2> -->
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}