{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block contents %}
<table class="user_notice">
    <tbody>
        <tr>
            <td>{{ user.name }}님</td>
            <td>
                <div>
                    <p>주문내역</p>
                    <p>{{ all_orders }}건</p>
                </div>
            </td>
            <td>
                <div>
                    <p>사용가능쿠폰</p>
                    <p>{{ all_cuppons }}장</p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <h2>주문배송조회</h2>
    <table class="table">
        <thead>
            <tr>
              <th style="width: 10%;">주문번호</th>
              <th style="width: 20%;">주문일자</th>
              <th>상품정보</th>
              <th style="width: 10%;">수량</th>
              <th>결제금액</th>
              <th>진행상태</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_num.order_num }}</td>
                <td>{{ order.order_num.order_date }}</td>
                <td>
                    <div class="order_prod d-flex">
                        <div style="width: 56px; 
                            height: 56px;
                            overflow: hidden;">
                            <img src='/media/{{order.product_num.product_image}}' style="width: 56px;">
                        </div>
                        <p>{{ order.product_num.product_name }}<br>{{ order.product_num.product_price|intcomma }}원</p>
                    </div>
                </td>
                <td>{{ order.product_count }}</td>
                <td>{{ order.product_price|intcomma }}원</td>
                <td class="state">{{ order.order_num.orderstatus }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <!-- <h2>취소/교환/반품 내역</h2>
    <table class="table">
        <thead>
            <tr>
              <th style="width: 10%;">주문번호</th>
              <th>주문내역</th>
              <th>접수날짜</th>
              <th>처리구분</th>
              <th>환불계좌</th>
              <th>진행상태</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3</td>
                <td>
                    <div class="order_prod d-flex">
                        <div style="width: 56px; height: 56px; background-color: #D9D9D9;"></div>
                        <p>상품명<br>24,100원</p>
                    </div>
                </td>
                <td>2022.05.24</td>
                <td>취소</td>
                <td>
                    <div>
                        <p><span class="account">농협 3330000000</span><br>김회원</p>
                    </div>
                </td>
                <td class="state">취소완료</td>
            </tr>
        </tbody>
    </table> -->
</div>
<div>
    <h2>사용가능쿠폰</h2>
    <table class="table">
        <tbody>
            {% for cuppon in cuppons %}
            <tr>
                <td>{{ cuppon.description }}</td>
                <!-- <td>2022.05.01 ~ 2022.05.31</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}