{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<script src="{% static 'bs/js/product.js' %}"></script>
{% endblock %}

{% block contents %}
<div class="d-flex flex-wrap">
    <div style="width: 564px; height:564px; background-color: #D9D9D9;"></div>
    <div class="product_detail">
        <div>
            <p class="fs-20 name">{{ product.product_name }}</p>
            <div class="rating">
                {% for i in "x"|rjust:"5" %}
                    {% if product.product_rate >= forloop.counter %}
                        <i class="material-icons star">star</i>
                    {% else %}
                        <i class="material-icons star">star_border</i>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div>
            <div style="float:left;">
                <p>{{ product.product_price }}<br>
                    <span class="fs-22"><span class="prod_sale">10%</span> 21,600원</span>
                </p>
            </div>
        </div>
        <div style="float: left;">
            <p class="side_p">배송비 2,500원<br>
                - 제주도를 포함한 도서/산간지역은 추가배송비 3,000원
            </p>
            <form id="product_buy" action="." method="POST">
                {% csrf_token %}
                <div class="product_select">
                    <select id="size">
                        <option>-- 사이즈 선택 --</option>
                        {% for size in product_sizes %}
                            {% if size.product_size != None %}
                                <option value="{{ size.product_size }}">{{ size.product_size }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select id="color">
                        <option>-- 색상 선택 --</option>
                        {% for color in product_colors %}
                            {% if color.product_color != None %}
                                <option value="{{ color.product_color }}">{{ color.product_color }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            </form>
        <div class="cart_bts">
            <button id="buy" class="lg-bt-black" onclick="buy()">바로 구매하기</button>
            <button class="lg-bt-white">장바구니 담기</button>
        </div>
    </div>
</div>
{% endblock%}